$font-family: "Open Sans", sans-serif;

$color_pink: #fc5095;
$color_orange: #fc8950;
$color_yellow: #fcc150;
$color_white: white;
$color_black_light: #c1baba;
$color_moko: #f6f5f5;
$color_gray: #3b3b3b;
$color_blue: #1da7c0;
$color_gray_light: rgba(255, 255, 255, 0.25);
$color_red: red;
$color_black:black;