@import "variable";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  height: 40px;
  text-align: center;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;

  & a{
    font-family: $font-family;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    transition: all 0.5s;
  }
  &:hover{
    &::before{
      opacity: 1;
      transform: skewX(-180deg) scale(0.5,1);
    }
  }
}


.main_button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 70px;
  border-radius: 5px;
  transition: all 0.5s;
  border: 1px solid $color_gray;
  background-color: $color_gray_light;
  cursor: pointer;
  & a{
    font-family: $font-family;
    color: $color_gray;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: 1s ease-in-out;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: $color_black_light;
    transform: scale(1, 0.5);
    transition: 1s ease-in-out;
  }
  &:hover{

    &::before{
      opacity: 1;
      transform: scale(1, 1);
      transition: 1s ease-in-out;
    }
    & a{
      color: $color_white;
      z-index: 5;
      transition: 1s ease-in-out;

    }

  }
}

.modal{
  width: 100%;
  height: 100vh;
  position: relative;
  animation: popup 1s ease-in-out;

}
.modal-overlay{
  width: 100%;
  height: 100%;
  background: $color_black;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}
.modal-container{
  position: absolute;
  max-width: 600px;
  min-height: 200px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: $color_white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  z-index: 2;
  padding: 50px 0;

    &__button-close{
    position: absolute;
    top: 15px;
    left: 25px;
    background: none;
    border: none;
    cursor: pointer;
    & svg{
      fill: $color_black_light;
      transition: 0.2s ease-in-out;
      &:hover{
        fill: $color_red;
        transition: 0.2s ease-in-out;
      }
    }
  }
  &--warning{
    width: 100px;
    height: 100px;
  }
  &__message{
    font-family: $font-family;
    font-size: 24px;
    color: $color_gray;
    text-align: center;
    padding: 30px 60px;
  }
  &_buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    &--cancel{
      border: 1px solid $color_black_light;
      background: $color_white;
      a{
        color: $color_black_light;
        z-index: 5;
        position: relative;
      }
      &:hover{
        a{
          color: $color_white;

        }
      }

      &::before{
        background: $color_red;
      }
    }
    &--uninstall{
      background: $color_red;
      border: 1px solid $color_red;
      a{
        color: $color_white;
      }
      &:hover{
        a{
          color: $color_black_light;

        }
      }
    }
  }
}

.hideAnimation{
  animation: popupHide 1s ease-in-out;

}
.hide{
  display: none
}

@keyframes popup {
  0%{
   transform: scale(0);
  }
  100%{
    transform: scale(1);
  }

}
@keyframes popupHide {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }

}